<div class="container videos">
  <div class="row">
    <div class="col-sm-12">
      <%= render "videos", videos: @videos %>
    </div>
  </div>
</div>

<%= render('upload_form', user: current_user, travel: @travels.first) if current_user %>
