<div class="container">
  <!-- <h1><%#= @video.title %></h1> -->
  <div class="row-fluid">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Best Information</h4></div>
          <div class="panel-body">
            On May 13-14, Slush Asia brings together people with big dreams and determination from all over the world. Originally from Finland, Slush has grown to become one of the world’s largest startup events and has made a second home in Asia.
          </div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item text-right">by Team Illio</li>
            <li class="list-group-item text-right" style="color: #1111ff;">
              <a href="#">#Tokyo</a>
              <a href="#">#Slush</a>
              <a href="#">#exciting</a>
              <a href="#">#friend</a>
            </li>
          </ul>
        </div>
        <div>

          <table class="table table-hover table-condensed" style="margin-top: 25px;">
            <caption><h4>Real-Time Information</h4></caption>
            <tr class="active">
              <th>ID</th>
              <th>SUBJECT</th>
              <th>TIME</th>
            </tr>
            <tr>
              <td>James</td>
              <td>Social Healing Cam</td>
              <td>2016.05.13 15:05</td>
            </tr>
            <tr>
              <td>Sujin</td>
              <td>AI Hotel desk service</td>
              <td>2016.05.13 14:28</td>
            </tr>
            <tr>
              <td>Lisa</td>
              <td>fun fun - stupid</td>
              <td>2016.05.13 14:22</td>
            </tr>
            <tr>
              <td>Thomas</td>
              <td>Keynote Stage - Honda</td>
              <td>2016.05.13 14:01</td>
            </tr>
            <tr>
              <td>Peter</td>
              <td>Neon Block</td>
              <td>2016.05.13 13:33</td>
            </tr>
            <tr>
              <td>Oliver</td>
              <td>Enterprise software</td>
              <td>2016.05.13 13:12</td>
            </tr>
            <tr>
              <td>Eugene</td>
              <td>Cyber Arms Race</td>
              <td>2016.05.13 13:06</td>
            </tr>
          </table>
        </div>
    </div>

    <div id="map_info" class="col-xs-8 col-sm-8 col-md-8">

      <!-- Trigger the modal with a button -->
      <!-- <a href="http://localhost:3000/videos/18_slush5"> -->
      <!-- <a href="/videos/14_slush_1" target="_self"> -->
        <!-- <img src="assets/slush_asia/slush2016map_info.png" id="slushmaps" class="img-responsive" data-toggle="modal" data-target="#myModal" alt=""> -->
      <!-- </a> -->

          <!-- Slider Frame -->
          <div id="sliderFrame">
              <div id="slider">
                  <a href="#">
                    <img class="img-responsive" src="assets/slush_asia/slush2016map_info.png" data-toggle="modal" data-target="#myModal" alt="">
                  </a>
                  <a href="#">
                    <img class="img-responsive" src="assets/slush_asia/slush2016map_info2.png" data-toggle="modal" data-target="#myModal2" alt="">
                  </a>
                  <a href="#">
                    <img class="img-responsive" src="assets/slush_asia/slush2016map_info3.png" data-toggle="modal" data-target="#myModal3" alt="">
                  </a>
                  <a href="#">
                    <img class="img-responsive" src="assets/slush_asia/slush2016map_info5.png" data-toggle="modal" data-target="#myModal4" alt="">
                  </a>
                  <a href="#">
                    <img class="img-responsive" src="assets/slush_asia/slush2016map_info4.png" data-toggle="modal" data-target="#myModal5" alt="">
                  </a>
              </div>
        <!-- <div style="display: none;">
            <div id="htmlcaption3">
                <em>HTML</em> caption. Back to <a href="http://www.menucool.com/">Menucool</a>.
            </div>
            <div id="htmlcaption5">
                Smart Lazy Loading Image
            </div>
        </div> -->

        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb"><img src="assets/slush_asia/thumb_info.png" class="img-responsive" alt="" /></div>
            <div class="thumb"><img src="assets/slush_asia/thumb_info2.png" class="img-responsive" alt="" /></div>
            <div class="thumb"><img src="assets/slush_asia/thumb_info3.png" class="img-responsive" alt="" /></div>
            <div class="thumb"><img src="assets/slush_asia/thumb_info5.png" class="img-responsive" alt="" /></div>
            <div class="thumb"><img src="assets/slush_asia/thumb_info4.png" class="img-responsive" alt="" /></div>
        </div>
    </div>

    </div>


  </div>


  <!-- Modal -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Social Healing Cam</h4>
            </div>
            <div class="modal-body">
                <iframe id="modalVideo" width="560" height="315" src="https://www.youtube.com/embed/c0FhF89bQ5E?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <div class="modal-footer">
                <a data-toggle="modal" data-target="#moreModal" class="btn btn-primary">More</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal2 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">AI Hotel desk service</h4>
            </div>
            <div class="modal-body">
                <iframe id="modalVideo2" width="560" height="315" src="https://www.youtube.com/embed/MCvG70oZafg?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <div class="modal-footer">
                <a data-toggle="modal" data-target="#moreModal2" class="btn btn-primary">More</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal3 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">fun fun - stupid</h4>
            </div>
            <div class="modal-body">
                <iframe id="modalVideo3" width="560" height="315" src="https://www.youtube.com/embed/mAO78-kwWwQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <div class="modal-footer">
                <a data-toggle="modal" data-target="#moreModal3" class="btn btn-primary">More</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal4 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Neon Block</h4>
            </div>
            <div class="modal-body">
                <iframe id="modalVideo4" width="560" height="315" src="https://www.youtube.com/embed/xx-N3abzFvA?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <div class="modal-footer">
                <a data-toggle="modal" data-target="#moreModal4" class="btn btn-primary">More</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal5 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Keynote Stage - Honda</h4>
            </div>
            <div class="modal-body">
                <iframe id="modalVideo5" width="560" height="315" src="https://www.youtube.com/embed/paO5EcxQSPg?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <div class="modal-footer">
                <a data-toggle="modal" data-target="#moreModal5" class="btn btn-primary">More</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- More Info Modal -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="moreModal" tabindex="-1" role="dialog" aria-labelledby="moreModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
                Human Touch Camera! Awesome +_+
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- More Info Modal2 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="moreModal2" tabindex="-1" role="dialog" aria-labelledby="moreModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
                May I help you, sir?
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- More Info Modal3 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="moreModal3" tabindex="-1" role="dialog" aria-labelledby="moreModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
                Human Touch Camera 2 hahaha.
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- More Info Modal4 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="moreModal4" tabindex="-1" role="dialog" aria-labelledby="moreModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
                wordee
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- More Info Modal5 -->
  <div id="container video">
    <div class="modal fade bs-example-modal-lg" id="moreModal5" tabindex="-1" role="dialog" aria-labelledby="moreModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Information</h4>
            </div>
            <div class="modal-body">
                "I Won't Let You Down" Movie
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>


<script type="text/javascript">
$(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#modalVideo").attr('src');
    var url2 = $("#modalVideo2").attr('src');
    var url3 = $("#modalVideo3").attr('src');
    var url4 = $("#modalVideo4").attr('src');
    var url5 = $("#modalVideo5").attr('src');

    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#modalVideo").attr('src', '');
    $("#modalVideo2").attr('src', '');
    $("#modalVideo3").attr('src', '');
    $("#modalVideo4").attr('src', '');
    $("#modalVideo5").attr('src', '');

  /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#myModal").on('shown.bs.modal', function(){
        $("#modalVideo").attr('src', url);
    });
    $("#myModal2").on('shown.bs.modal', function(){
        $("#modalVideo2").attr('src', url2);
    });
    $("#myModal3").on('shown.bs.modal', function(){
        $("#modalVideo3").attr('src', url3);
    });
    $("#myModal4").on('shown.bs.modal', function(){
        $("#modalVideo4").attr('src', url4);
    });
    $("#myModal5").on('shown.bs.modal', function(){
        $("#modalVideo5").attr('src', url5);
    });

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#modalVideo").attr('src', '');
    });
    $("#myModal2").on('hide.bs.modal', function(){
        $("#modalVideo2").attr('src', '');
    });
    $("#myModal3").on('hide.bs.modal', function(){
        $("#modalVideo3").attr('src', '');
    });
    $("#myModal4").on('hide.bs.modal', function(){
        $("#modalVideo4").attr('src', '');
    });
    $("#myModal5").on('hide.bs.modal', function(){
        $("#modalVideo5").attr('src', '');
    });
});
</script>



</div>
