    <script>
      $(function(){
        if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
          $('#ios-notice').removeClass('hidden');
          $('.parallax-container').height( $(window).height() * 0.5 | 0 );
        } else {
          $(window).resize(function(){
            var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
            $('.parallax-container').height(parallaxHeight);
          }).trigger('resize');
        }
      });
    </script>

    <section>
      <div class="container">
        <div id="ios-notice" class="alert alert-info hidden"><p><strong>Notice:</strong> Hello mobile user. Unfortunately, this parallax effect is not reliably achieved on mobile devices, so all you will see on this demo page are static backgrounds.  Please visit this page on a desktop browser to see its full effect.</p></div>
      </div>
    </section>

    <div class="crt-parallaxvideo">
        <video autoplay muted loop>
          <source src="/assets/mainVideo.mp4" type="video/mp4">
        </video>
        <div class="container home">
          <div class="row text-center">
            <div class="col-md-12">
              <div class="row text-center">
                <div class="col-md-12" id="treview_logo">
                  <img class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" src="/assets/mainlogo.png" alt="Responsive image">
                </div>
              </div>
               <h1>Review your Travel!</h1>
            </div>
          </div>

          <div class="row travel_search" data-travels="<%= @travels.to_json %>">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <div class="input-group">
                <input type="text" class="form-control typeahead" placeholder="Search In Treview">
                <span class="input-group-btn">
                  <button class="btn btn-danger search" type="button">Go</button>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- <section class="plax content">
    </section> -->

    <div class="plax ccparallax ccparallax-one">
      <div class="container">
        <div class="week_title">
          <h1><small>Last week : </small>Slush in Tokyo</h1>
          <div class="col-md-offset-4 col-md-4 col-md-offset-4">
            <a class="btn btn-danger btn-lg btn-block" role="button" href="/infomap">
              Let's See! <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="plax ccparallax ccparallax-two">
      <div class="container">
        <div class="week_title">
          <h1><small>This week : </small>U300 in Seoul</h1>
          <div class="col-md-offset-4 col-md-4 col-md-offset-4">
            <a class="btn btn-danger btn-lg btn-block" role="button" href="/infomap2">
              Let's See! <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
