// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;

  video {
    position: absolute;
    z-index: -1;
  }
}

// .section {
//   h3, p, span {
//   text-align: center;
//   }
// }

#section1,
#section2,
#section3,
#section4 {
  background-size: cover;
}

// #section1 {
//   background: url(/assets/sample.jpg) no-repeat;
// }

#section2 {
  background-image: image-url("slush.jpg");
  text-align: center;
  span {
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }
  p {
    font-size: 8em;
    color: #fff;
    text-shadow: 4px 4px 8px #ff3f3f;
  }
  a {
    &:hover {
      color: #ff3f3f;
      text-decoration: none;
      text-shadow: 0 0 10px #fff;
    }
    color: #fff;
  }
}
