// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;

  video {
    position: absolute;
    z-index: -1;
  }
}

.section {
  background-size: cover;
}

#section2, #section3 {
  text-align: center;
  p.week_sub {
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
  p.week_do {
    font-size: 8em;
    color: #fff;
    text-shadow: 4px 4px 4px #ff3f3f;
  }
  a {
    transition: color 1s;
    text-decoration: none;
    &:hover {
      color: #ff3f3f;
      text-shadow: 2px 2px 8px #fff;
    }
    color: #fff;
  }
}

#section2 {
  background-image: image-url("slush.jpg");
}

#section3 {
  background-image: image-url("u300_index.jpg");
}
