// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container.videos, div.container.user {
  div.video_thumb {
    position: relative;
    padding: 0 12px;
    margin-bottom: 24px;

    img {
     display: block;
     width: 100%
    }

    a.remove, a.subscribe, a.unsubscribe {
      display: block;
      position: absolute;
      top: -10px;
      right: 2px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 1em;
      @include border-radius(10px);
      opacity: 0;
    }

    &:hover {
      a.remove, a.subscribe, a.unsubscribe, div.tags a.edit_tag {
        opacity: 1;
        transition: all .6s ease-in-out;
      }
    }

    div.about {
      a.title {
        display: inline-block;
        margin-top: 6px;
        max-height: 3.3em;
        font-size: 12px;
        line-height: 1.1em;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        z-index: 9999;
      }

      a.publisher {
        color: #333;

        span {
          display: block;
          margin-top: 0px;
          max-height: 1.1em;
          font-size: 12px;
          line-height: 1.1em;
          overflow: hidden;
          white-space: normal;
          word-wrap: break-word;
        }
      }

      span.likes {
        display: inline-block;
        margin-top: 2px;
        max-height: 1.1em;
        font-size: 12px;
        line-height: 1.1em;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
      }
      span.date {
        display: inline-block;
        margin-top: 2px;
        max-height: 1.1em;
        font-size: 12px;
        line-height: 1.1em;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
}


div.container.video {

}


nav.upload {
  display: none;
  margin-bottom: 50px;
  padding: 24px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  span.deco {
    display: inline-block;
    margin: 12px auto;
    font-size: 18px;
    font-family: 'Parisienne', cursive;
  }
}
